<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
<connectionStrings>
    <add name="ServidorBD" connectionString="Data Source=DESKTOP-AA3HVU6\SQLEXPRESS; Initial Catalog=PekesBD; User Id=sa; Password =123"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
       <webServices>
        <protocols>
          <add name="HttpPost"/>
          <add name="HttpGet"/>
        </protocols>
      </webServices>
    </system.web>

</configuration>
